@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 16px;
    }
    
}

.heading{
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading .logo{
    width: 28px;
}

h2{
    @apply hover:text-custom-grayish-purple hover:cursor-pointer
}

.open-btn, .close-btn{
    @apply hover:cursor-pointer
}